<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand"><a href="#/">GeekTic</a></div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/interests">Liste des intérêts</a></li>
        </ul>
    </div>
</div>

<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-3">
            <input type="checkbox" ng-model="query.gender" ng-true-value="'HOMME'">Homme</input>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" ng-model="query.gender" ng-true-value="'FEMME'">Femme</input>
        </div>
        <div class="col-sm-4">
            <div ng-hide="!selectedInterests">
                <span ng-repeat="item in selectedInterests" class="label label-primary alert-dismissible fade in" ng-click="removeElement(item)">{{item}} <button class="close"><span class="glyphicon glyphicon-remove"></span></button></span>
            </div>

            <autocomplete data="interests" on-type="filterInterest" on-select="addElement" ng-model="query.interests" attr-placeholder="filtrer par intérêts"></autocomplete>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="searchSelectedInterests()">Valider</button>
        </div>
    </div>
</form>

<table class="table table-hover">
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Intérêts</th>
        <th>Sexe</th>
        <th>Age</th>
    </tr>
    <tr ng-repeat="user in userList" ng-click="showDetails(user)">
        <td><a ng-href="#/{{user.id}}">{{user.name}}</a></td>
        <td>{{user.surname}}</td>
        <td>
            <ul>
                <li ng-repeat="interest in user.interests">{{interest.value}}</li>
            </ul>
        </td>
        <td>{{user.gender}}</td>
        <td>{{user.age}}</td>
    </tr>
</table>